* { 
    background-color: #8b936c;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#submit-button {
    background-color: #8b936c;
}

.uk-align-center {
    margin-top: 50px;
}

.uk-search-field {
    width: 300px;
}