* {
    text-align: center;
    font-size: 18px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(to bottom,
            rgba(110, 107, 255, 0.4),
            rgba(198, 198, 255, 0.3)), url("https://wallpapercave.com/wp/wp2349475.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8b936c;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 3px 3px 4px #3b3b3b;
}

#submit-button {
    width: 100px;
    background-color: rgba(35, 31, 255, 0.8);
    color: white;
    box-shadow: 2px 2px 4px #3b3b3b;
}

.uk-align-center {
    margin-top: 50px;
}

.uk-search-field {
    width: 300px;
    box-shadow: 2px 2px 4px #3b3b3b;
}

li:hover {
    color: rgb(0, 199, 43);
    text-shadow: 2px 2px 4px #3b3b3b;
}

li {
    color: white;
    list-style-type: none;
    cursor: grab;
}

a {
    cursor: grab;
}